html, body { height: 100% }

body {
  background: black;
  color: white;
}

canvas {
  margin: auto;
  background: grey;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#controls .group.slider {
  display: grid;
  grid-template-columns: auto 3rem 20rem 3rem 3rem 2rem;
  background: white;
}

#controls * {
  background: black;
  margin: 1px !important;
  color: white;
}

label {
  display: inline;
  text-align: right;
  padding-right: 0.25rem;
}