html, body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  color: white;
  overflow: hidden;
}

canvas {
  margin: auto;
  background: black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#controls {
  opacity: 0.5;
  z-index: 1;
  position: relative;
  height: max-content;
  animation-duration: 0.25s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  transform: translate(0, -90%);
}

#controls .text {
  font-size: 24px !important;
  text-align: center;
}

#controls.hide {
  animation-name: exposeUp;
}

#controls.show {
  opacity: 0.9;
  transform: translate(0, 0%);
  animation-name: exposeDown;
}

@keyframes exposeDown {
  from { transform: translate(0, -90%); }
  to { transform: translate(0, 0%); }
} @keyframes exposeUp {
  from { transform: translate(0, 0%); }
  to { transform: translate(0, -90%); }
}

#controls .group {
  display: grid;
  background: white;
}

#controls .group.slider {
  grid-template-columns: 9rem 3rem auto 3rem 3rem 2rem;
}

#controls .group.config {
  grid-template-columns: 9rem auto 8rem;
}

#controls * {
  background: black;
  margin: 1px !important;
  color: white;
  font-size: 16px;
  line-height: 16px;
}

label {
  display: inline;
  text-align: right;
  padding-right: 0.25rem;
  padding: 0.25rem;
}